body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background: url(img/bisu.jpg) no-repeat center center;
  background-size: cover;
}

.page-title {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background: transparent;
  font: 500 1rem "Quicksand", sans-serif;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__text {
  text-align: center;
}

.form__link {
  display: inline-block;
  background-color: #007bff; /* Blue */
  color: white;
  padding: 10px 20px;
  margin: 1px;
  text-decoration: none;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.form__link:hover {
  background-color: #0056b3;
  text-decoration: none;
}
